 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/9cfd06b9/5588903/images/352267338_219976860835248_7046993254945061260_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1 .u-group-1 {
  width: 528px;
  min-height: 706px;
  height: auto;
  margin: 0 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 158px -69px 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -12px auto 0 30px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px auto 0 39px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.2em;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 39px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.2em;
}

.u-section-1 .u-btn-3 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 39px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  font-size: 1.2em;
}

.u-section-1 .u-btn-4 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 3px auto -49px 39px;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: -49px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
    margin-left: 59px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 59px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 59px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 593px;
}

.u-section-2 .u-gallery-1 {
  height: 535px;
  grid-gap: 17px;
  margin: 21px 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 148px;
    height: 438px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 13px;
    margin-bottom: 13px;
    height: 742px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1719px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 1px;
    height: 1705px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 17px;
    margin-bottom: 14px;
    height: 1447px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 427px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 0 auto 0 56px;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 0 198px 24px 56px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: 680px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -5px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 40px;
    margin-bottom: 16px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-bottom: 16px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 536px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 11px auto 0 22px;
}

.u-section-4 .u-form-1 {
  height: 429px;
  background-image: none;
  margin: -55px 0 0 630px;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  padding: 9px 0 11px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: -397px auto 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-4 .u-form-1 {
    height: 467px;
    margin-top: 59px;
    margin-right: 11px;
    margin-left: 419px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -526px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-form-1 {
    width: 510px;
    margin-top: 192px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -648px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 23px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 161px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -625px;
    margin-left: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -12px;
    margin-left: 0;
  }

  .u-section-4 .u-form-1 {
    height: 562px;
    margin-top: 216px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -778px;
    margin-left: 0;
    margin-right: 0;
  }
}